ul.loginmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.loginmenu li {
  display: inline;  
}

.error { color: red; }
.notice { color : blue; }
.warning { color: red; background-color: yellow; }